.course-page {

   
    width: 100%;

 
  padding: 30px;
  font-family: Arial, sans-serif;
}


.coursedetails-card {
  display: flex;
  background: white;
  border-radius: 16px;
  padding: 20px;
  gap: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.course-image {
  width: 2000px;
  height: 300px;
  border-radius: 12px;
}

.course-info {
  font-size: medium;
}

.course-info h2 {
  margin-bottom: 10px;
}

.course-info p {
  color: #666;
  margin-bottom: 15px;
}

.course-meta {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  font-size: 14px;
}

.start-btn {
  background: #6c4cff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.start-btn:hover {
  background: #5537e6;
}


.course-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}


.lessons {
  background: white;
  padding: 20px;
  border-radius: 16px;
}

.lessons h3 {
  margin-bottom: 15px;
}

.lesson-item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
  background: #f2f3f7;
  margin-bottom: 10px;
  cursor: pointer;
}

.lesson-item:hover {
  background: #e6e8ff;
}

.instructor {
  background: white;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  max-height: 200px;
}

.instructor img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.instructor h4 {
  margin-bottom: 5px;
}

.instructor p {
  font-size: 14px;
  color: #666;
}

.social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
  font-size: 20px;
}
.update-btn {
  background: #6c4cff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.update-btn:hover {
  background: #5537e6;
}
.delete-btn {
  background: #6c4cff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.delete-btn:hover {
  background: #5537e6;
}
.admin-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 20px;
}

.instructor-bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 24px 30px;
  border-radius: 18px;
  background: linear-gradient(135deg, #6d28d9, #9333ea);
  color: #fff;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.instructor-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
}

.instructor-info h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.instructor-info p {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.9;
}

.course-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 768px) {
  .instructor-bar {
    flex-direction: column;
    text-align: center;
  }
}
